extends layout.pug 
include form-utils.pug 
block append head 
  link(rel="stylesheet" href="/stylesheets/main.css")
  //- add page specific js
  script(src="/javascripts/navbar.js" type="module" defer)
  script(src="/javascripts/taskToggle.js" type="module" defer)
  script(src="/javascripts/displayTask.js" type="module" defer)
block content
    +auth-nav()
    .nav-menu-container
        .nav-menu
            .menu-logo
                img(id='menu-logo' src="/images/logo.png", alt="dogpic")
            nav.all-tasks
                ul
                    li
                        input(type="checkbox" id='list-item-1')
                        label(for='list-item-1' class='first') All tasks
                        ul
                            li
                                a(href="") Link2
                            li
                                a(href="") Link3
                            li
                                a(href="") Link4
                    li
                        input(type="checkbox" id='list-item-2')
                        label(for='list-item-2' ) Lists
                        button.add-list +
                        ul
                            li
                                a(href="") Link2
                            li
                                a(href="") Link3
                            li
                                a(href="") Link4   
                    li
                        input(type="checkbox" id='list-item-3')
                        label(for='list-item-3' class='last') Contacts
                        button.add-contact +
                        ul
                            li
                                a(href="") Link2
                            li
                                a(href="") Link3
                            li
                                a(href="") Link4   
    .app-body
        .app-inner-body
            input(id='task-input' type="text")
            .task-submit 
                button Submit
            .task-items
                a.click-me(href='') stuff
                p stuff 
        .app-inner-body-right.active
            p all tasks
        .task-details
            a.close-detail(href='') close X 
            p name 
            p due date 
            p list 
            

