extends layout.pug
include form-utils.pug
block append head
  link(rel="stylesheet" href="/stylesheets/main.css")
  //- add page specific js
  script(src="/javascripts/navbar.js" type="module" defer)
  script(src="/javascripts/taskToggle.js" type="module" defer)
  script(src="/javascripts/displayTask.js" type="module" defer)
  script(src="/javascripts/completeTask.js" type="module" defer)
  script(src="/javascripts/addTask.js" type="module" defer)
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 4c94306 (Revert "Sign out complete")
  script(src='/javascripts/createList.js' type='module' defer)
  script(src='/javascripts/edit-task.js' type='module' defer)
  script(src='/javascripts/deleteTask.js' type='module' defer)
  script(src='/javascripts/closeListOnClick.js' type='module' defer)
  script(src='/javascripts/taskLoad.js' type="module" defer)
<<<<<<< HEAD
<<<<<<< HEAD
  script(src='/javascripts/viewDeleteList.js' type='module' defer)
=======
  script(src="/javascripts/deleteTask.js" type="module" defer)
  script(src="/javascripts/sign-out.js" type ="module" defer)
  
>>>>>>> 119802d (testing signout button as part of pug mixin)
=======
>>>>>>> 4c94306 (Revert "Sign out complete")
=======
  script(src='/javascripts/viewEditDeleteList.js' type='module' defer)
>>>>>>> 6f02234 (Working)
block content
    +auth-nav()
    .nav-menu-container
        .nav-menu
            .menu-logo
                img(id='menu-logo' src="/images/logo.png" alt="dogpic")
            nav.all-tasks
                ul
                    li
                        input(type="checkbox" class='menu-checkbox' id='list-item-1')
                        label(for='list-item-1' class= 'menu-label') All tasks
                        ul
                            li.menu-list
                                a(href="" id='all-tasks-link') All Tasks
                            li.menu-list
                                a(href="" id='todays-tasks-link') Today
                            li.menu-list
                                a(href="" id='tomorrows-tasks-link') Tomorrow
                    li
                        input(type="checkbox" class='menu-checkbox' id='list-item-2')
                        label(for='list-item-2' class='menu-label') Lists
                        button.add-list +
                        ul
                            each list in lists
                                li.menu-list
                                    a(href="" id =`list-${list.id}` class='list-button')=list.name
                                    button(id=`delete-list-${list.id}` class='delete-list-button') -
                    li
                        input(type="checkbox" class='menu-checkbox' id='list-item-3')
                        label(for='list-item-3' class='menu-label' class='last') Contacts
                        button.add-contact +
                        ul
                            li.menu-list
                                a(href="") Link2
                            li.menu-list
                                a(href="") Link3
                            li.menu-list
                                a(href="") Link4
    .add-list-form
        form(action="/lists", method="POST")
            input(type="hidden" name="_csrf" value=csrfToken)
            input(type="text" name='listName')
            button Create list
    .app-body
        .app-inner-body
            .app-create-task
                input(id='task-input' type="text")
                select(name="priority" id='task-priority')
                    each priority in priorities
                        option(value=priority.id)=priority.name
                input(type="date" id='task-date')
            .task-submit
                button Submit
            .task-items
        .app-inner-body-right.active
            p all tasks
        .task-details
            a.close-detail(href='') close X
            p(id='task-id')
            label(for="detail-date") Task detail
            input(type="text" value='' class='detail-text' id='detail-text')
            label(for="detail-date") Due date
            input(type='date' value='' class='detail-date' id='detail-date')
<<<<<<< HEAD
=======

            p list
>>>>>>> 4c94306 (Revert "Sign out complete")
            .edit-task
                button(id='delete-button') Delete
                button(id='edit-detail-btn') Edit
