extends layout

block content
  link(rel='stylesheet' href='/stylesheets/about.css')
  div.card-warp
    div.card
      div.card-photo
        img.card-img(src='')
      div.card-title Brendan Downing
      div.card-description
      div.card-links
        a(href="https://github.com/Downster" target="_blank")
          img.card-link-logo(src='/images/about/git-logo.png')
        a(href="https://www.linkedin.com/in/brendan-downing-641672228/" target="_blank")
          img.card-link-logo(src='/images/about/linkedin-logo.png')
    div.card
      div.card-photo
        img.card-img(src='')
      div.card-title Kai Seward
      div.card-description 
      div.card-links
        a(href="https://github.com/kairality/" target="_blank")
          img.card-link-logo(src='/images/about/git-logo.png')
        a(href="https://www.linkedin.com/in/kai-seward-01338b95/" target="_blank")
          img.card-link-logo(src='/images/about/linkedin-logo.png')
    div.card
      div.card-photo
        img.card-img(src='/images/about/frances_huang.png')
      div.card-title Maica
      div.card-description 
      div.card-links
        a(href="https://github.com/itsmaica" target="_blank")
          img.card-link-logo(src='/images/about/git-logo.png')
        a(href="https://www.linkedin.com/in/maicasantos/" target="_blank")
          img.card-link-logo(src='/images/about/linkedin-logo.png')
    div.card
      div.card-photo
        img.card-img(src='/images/about/lana_komar.jpg' style="position: relative; top: -25%")
      div.card-title Attiya Kovenburg
      div.card-description
      div.card-links
        a(href="https://github.com/akoven" target="_blank")
          img.card-link-logo(src='/images/about/git-logo.png')
        a(href="https://www.linkedin.com/in/attiya-kovenburg-166201129/" target="_blank")
          img.card-link-logo(src='/images/about/linkedin-logo.png')