extends layout.pug
include form-utils.pug
block content
  h1 hello world
  form.test-form(method="POST" action="/lists")
    h2 Sign up for free!
    +csrfField()
    +userFormField("List Name", "listName", '', 'text')
    button(type="submit") Submit
  br
  br
  br
  br
  form.test-form(method="POST" action="/dogs")
    +csrfField()
    +userFormField("Dog Name", "dogName", '', 'text')
    +breedSelect()
    button(type="submit") Submit
