extends user-flow-layout.pug
include form-utils.pug
block left-flavor
  p hello left bar this is flavor stuff
block right-form
  p hello right bar this is login stuff
  form.sign-up-form(method="POST" action="/users/login")
    +csrfField()
    +userFormField("E-mail", "email", '', "email")
    +userFormField("Password", "password", '', "password")
    +loginButton()
  div.signup-redirect
    a(href="/users/register") Need to create an account? Sign up today!
