extends user-flow-layout.pug
include form-utils.pug

block right-form
  link(rel='stylesheet' href='/stylesheets/login.css')
  div.home-link
    a(href='/') Back To Home Page
  div.logo
    img(src='/images/flufferton-resized.jpg')
  div.userflow-friends#userflow-friends
    img(src='/images/corgi.jpg').dog4
    img(src='/images/pyrenees.jpg').dog5
    img(src='/images/pug.jpg').dog6
  +errorSummary()
  form.login-form(method="POST" action="/users/login")
    +csrfField()
    div.credentials
      +userFormField("E-mail", "email", '', "email")
      +userFormField("Password", "password", '', "password")
  div.button
    +loginButton()
  div.signup-redirect
    a(href="/users/register") Need to create an account? Sign up today!
