extends user-flow-layout.pug 
include form-utils.pug 
block append head 
  link(rel="stylesheet" href="/stylesheets/logout.css")
  //- add page specific js
  script(src="/javascripts/logout.js" type="module" defer)
block content
    .nav-div
        +unauth-nav()
    .logout-body 
<<<<<<< HEAD
        img(id='logout-image' src="/images/dog.jpg", alt="cute dog image")
        h3(class='logout-header') See you next time 
        h4(class='logout-subheader') You are now logged out of Doggy-done
        a(id='login-again-button' href="/users/login") Log in again 
=======
        img(id='logout-image' src="picture for logout page", alt="cute dog image")
        h3(class='logout-header') See you next time 
        h4(class='logout-subheader') You are now logged out of Doggy-done
        a(href="/users/login") Log in again 
>>>>>>> 023a344 (Added css files, logout page, navbar)
