extends user-flow-layout.pug
include form-utils.pug

block right-form
  link(rel='stylesheet' href='/stylesheets/signup.css')
  div.home-link
    a(href='/') Home
  div.logo
    img(src='/images/flufferton-resized.jpg')
  div.userflow-friends#userflow-friends
    img(src='/images/lab-dutchy.jpg').dogs
    img(src='/images/newfie.jpg').dogs
    img(src='/images/pekingese-4.jpg').dogs
  div.userflow-tagline#userflow-tagline
    p Join bajillions of dog owners in getting productive!
  +errorSummary(errors)
  h2 Sign up for free!
  form.sign-up-form(method="POST" action="/users/register")
    +csrfField()
    +userFormField("First Name", "firstName", user.firstName, "text")
    +userFormField("Last Name", "lastName", user.lastName, "text")
    +userFormField("Display Name", "displayName", user.displayName, "text")
    +userFormField("E-mail", "email", user.email, "email")
    +userFormField("Password", "password", '', "password")
    +userFormField("Confirm Password", "confirmPassword", '', "password")
    div.buttons
      div.signup
        +signUpButton()
      div.login
        +loginRedirectButton()(id="signup-login-redirect")
