extends layout.pug

<<<<<<< HEAD
block content
=======
block head
    title="Doggy Done! ðŸ¶"
    link(rel='stylesheet' href='/stylesheets/splash-page.css')
>>>>>>> c31656410a0e523a95f38ce36db47d7bcdb2d820

    .nav
        span.login
            a(href="/users/login") Log in
        span.signup
            a(href="/users/register") Sign up for free
        div.header
            h1 The smart to-do app for busy people.
        div.button
            button(onClick="window.location.href='/users/register';") Sign Up For Free
    .container#might-be-slide-show
