extends layout.pug

block content
    .nav
        a(href="/users/login") Log in
        a(href="/users/register") Sign up for free
    .header
        h1 The smart to-do app for busy people.
        a(href='/users/register') Sign Up Free
            //- a(href='/register')
    .container#might-be-slide-show
