extends layout.pug

block content

    .nav
        a(href="/users/login") Log in
        a(href="/users/register") Sign up for free
    .header
        h1 The smart to-do app for busy people.
        button(onClick="window.location.href='/users/register';") Sign Up For Free
    .container#might-be-slide-show
