header{
    display: flex;
}
.nav-menu{
    position:fixed;
    top: 100px;
    display: flex;
    opacity: 0;
}
#menu-title{
    /* add transition here */
    opacity: 0;
}

#menu-title.active{
    opacity: 1;
}

.nav-menu.active{
    opacity: 1;
}
#hamburger {
    position: absolute;
    top: -100px;
  }
#search{
    margin-top: 12px;
    display: flex;
    height: 25px;
    align-content: center;
}
#sub-navigation {
display: none;
}
#hamburger:checked ~ #sub-navigation {
display: block;
}
#sub-nav-toggle span:after {
width: 50px;
height: 50px;
font-size: 40px;
content: "\2630";
}
body {
line-height: 14px;
-webkit-font-smoothing: antialiased;
padding: 0;
margin: 0;
}
#sub-nav-toggle {
cursor: pointer;
-webkit-touch-callout: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
min-width: 48px;
text-align: center;
}
#sub-nav-toggle,
.nav-item {
padding: 14px 16px;
display: block;
float: left;
color: rgb(246, 243, 243);
text-decoration: none;
box-sizing: border-box;
}

#sub-nav-toggle:hover,
.nav-item:hover {
background: #006667;
}
#sub-nav-toggle:active,
.nav-item:active {
background: #004d4d;
}
#hamburger:checked ~ #navigation-links label {
background: #006667;
}
#hamburger:checked ~ #navigation-links label span:after {
content: "\2715";
}
.header-nav {
position: fixed;
top: 0;
width: 100%;
background: rgb(234, 218, 4);
height: 50px;
}
#sub-navigation {
clear: both;
}
#sub-navigation .nav-item {
background: #006667;
display: block;
width: 200px;
text-align: left;
}

#sub-navigation .nav-item:hover {
background: #004d4d;
}
#sub-navigation .nav-item:active {
background: #003334;
}
