<<<<<<< HEAD
*{
  box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
=======
@import url(./userflow.css);

h1 {
    color: #555555;
>>>>>>> 95e75ae (first run of signup styling)
}
