/* .logout-header{
     border: 2px solid red;
} */

body{ background-color: bisque;}

#logout-image{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
}

#logout-logo{
    width:50px;
    height:50px;
}

a#login-again-button{
    display: flex;
    text-decoration: none;
    color: blue;

}
#login-again-button{
    padding: 10px 10px 10px 10px;
    font-size: 22px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: red;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#login-again-button:hover{
  transform: translate(3px, -3px);
}

.login-again-button{
    display: flex;
    justify-content: center;
}
.logout-body{
    margin-right: 800px;
    margin-top: 150px;
}

div{
    margin-left: 10px;
    margin-right: 10px;
}

.home:hover{
    color:blue;
}

.login:hover{
    color: blue;
}

.sign-up:hover{
    color: blue;
}
