/* .logout-header{
     border: 2px solid red;
} */

a{
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    padding: 16px;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #fe9054;
    border: none;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

a:hover{
    filter: invert(100%);
    box-shadow: 2px 5px 5px rgba(255,255,255,0.4);
}

body{ 
    background-color: #f7bf50;
    display: flex;
    flex-direction: column;
}

.nav-div{
    display: flex;
    justify-content: space-around;
}

#logout-image{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
}

#logout-logo{
    width:50px;
    height:50px;
}


#login-again-button{
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    padding: 16px;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #fe9054;
    border: none;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}


.login-again-button{
    display: flex;
    justify-content: center;
}
.logout-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div{
    margin-left: 10px;
    margin-right: 10px;
}

