@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Quicksand:wght@700&display=swap');

* {
    font-family: 'Quicksand';
}

body {
    line-height: 14px;
    display: flex;
    justify-content: center;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    background-color:  #f7bf50;
    overflow-x: hidden;
    box-sizing: border-box;
}

header{
    display: flex;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-label{
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: none;
    width: 100%;
}

.menu-label:hover{
    background: #fe9054;
    color: white;

}

.menu-items {
    text-decoration: none;
}


li.menu-list{
    padding: 5px;
    background: #fbf8f2;
    width: 100%;
}


.menu-checkbox{
    position: absolute;
    left: -9999px;
}

.menu-checkbox ~ ul{
    height: 0;
    transform: scaleY(0);
}

.menu-checkbox:checked ~ ul{
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1);
}

.menu-checkbox:checked + label{
    background: #fd880bd7;
    border-bottom: 1px solid #fff;
}

.add-contact{
    position: absolute;
    transform: translate(170px, -28px);
}

.task-submit{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 15px;
    width: 100px;
    height: 30px;
    visibility: hidden;
}

.task-items{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2%;
    left: 5%;
}

.task-submit.active{
    visibility: visible;
}

.app-create-task{
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
}


/* add list button */
.add-list{
    position: absolute;
    transform: translate(80px, -28px);
}

.nav-div{
    display: flex;
    width: 100%;
}

.menu-logo{
    display: flex;
}

.add-list-form{
    position: absolute;
    opacity: 0;
    width: 0%;
}

.blur {
    filter: blur(8px);
    height: 100vh;
    width: 100%;
}

.list-tasks{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 2%;
    left: 5%;
}

.list-tasks.active{
    visibility: visible;
}

.add-list-form.active{
    position: absolute;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    background-color: white;
    opacity: 1;
    z-index: 6;
    top: 40%;
}

.app-body{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: min(95%);
    height: 92%;
    left: 1%;
    transform: translateY(55px);
    background-color: rgb(249, 237, 213);
    position: absolute;
    transition-property: left, width;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
    overflow-x: hidden;
}
.app-inner-body{
    display: flex;
    flex-direction: column;
    width: min(50%);
    height: min(100% );
    margin-inline: auto;
    background-color: rgb(249, 237, 213);
    overflow-y: scroll;
    overflow-x: hidden;
}

.meduim-priority{
    display: flex;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    border: 2px solid #F7BF50;
    background-color: #F7BF50;
    border-radius: 5px;
}

.due-today{
    padding-top: 50px;

}

.overdue-tasks{

}

.high-priority{
    display: flex;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    border: 2px solid #fe9054;
    background-color: #fe9054;
    border-radius: 5px;
}

.low-priority{
    display: flex;
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    border: 2px solid rgb(234, 218, 4);
    background-color: rgb(234, 218, 4);
    border-radius: 5px;
}

.app-inner-body-right{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    font-size: larger;
    align-items: center;
    width: min(50%);
    height: min(100% );
    margin-inline: auto;
    background-color: rgb(251, 225, 181);
}



.app-inner-body-right.active{
    visibility: visible;
}

.nav-menu-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 15%;
    height: 1000px;
    transform: translateX(-308%);
}

.nav-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    top: -100%;
    width: 12px;
    background-color: #f7bf50;
    opacity: 0;
    transition-property: top,width;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
}

.menu-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    transform: translateX(18%);
}

.header-nav {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgb(234, 218, 4);
    height: 50px;
    z-index: 3;
}

.nav-menu.active{
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    position: relative;
    z-index: 2;
    top: 6%;
    height: 80%;
    width: 100%;
    margin-right: 15%
}

.task-details{
    display: flex;
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    right: -100%;
    top: 6%;
    transition-property: right,width;
    transition-duration: .7s;
    transition-timing-function: ease-in-out;
    z-index: 3;
}

.task-details p {
    display: hidden;
    color: white;
}

.close-detail{
    transform: translateX(350%);
    top: 10%;
}

.overdue{
    color: red;
}

.task-details.active{
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    right: 10%;
    background-color: #ffffff;
    top: 5%;
    width: 30%;
    height: min(100% -4rem);
    transform: translate(-450px 300px);
    border-radius: 10px 10px 10px 10px;
}
.app-body.active{
    display: flex;
    position: absolute;
    transform: translate(30px 60px);
    left: 200px;
    opacity: 1;
    z-index: 2;
    width: 88%;
    height: 94%;
}

.search-container{
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -.2%;
    z-index: 5;
}

.all-tasks {
    width: 100%;
}



.task-click-search {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

#detail-date{
    width: 40%;
}

#menu-title{
    display: inline-block;
    /* add transition here */
    opacity: 0;
}

#menu-logo{
   width: 150px;
   height: 80px;
}

#menu-title.active{
    opacity: 1;
}

#hamburger {
    position: absolute;
    top: -100px;
}

#task-s{
    margin-top: 12px;
    margin-left: 10px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    width: 300px;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    height: 25px;
    align-content: center;
    z-index: 5;
}

#sub-navigation {
    display: none;
}

#hamburger:checked ~ #sub-navigation {
    display: block;
}

#search-div{
    display: flex;
    position: absolute;
    flex-direction: column;
    top:3.5%;
    width: 300px;
    height: 300px;
    background-color: #f7bf50;
    z-index: 5;
    visibility: hidden;
    border-radius: 5px;
    overflow-y: scroll;
    pointer-events: none;
}

#search-div.active{
    visibility: visible;
    pointer-events: all;
}


#sub-nav-toggle span:after {
    width: 50px;
    height: 50px;
    font-size: 40px;
    content: "\2630";
}

#sub-nav-toggle {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 48px;
    text-align: center;
}

#sub-nav-toggle,
.nav-item {
    padding: 14px 16px;
    display: block;
    float: left;
    color: rgb(246, 243, 243);
    text-decoration: none;
    box-sizing: border-box;
}

#sub-nav-toggle:hover,
.nav-item:hover {
    background: #fe9054;
}

#sub-nav-toggle:active,
.nav-item:active {
    background: #fe9054;
}

#hamburger:checked ~ #navigation-links label {
    background: #fe9054;
}

#hamburger:checked ~ #navigation-links label span:after {
    content: "\2715";
}
#sub-navigation {
    clear: both;
}

#sub-navigation .nav-item {
    background: #fe9054;
    display: block;
    width: 200px;
    text-align: left;
}

#sub-navigation .nav-item:hover {
    background: #fe9054;
    border: solid white 2px;

}

#sub-navigation .nav-item:active {
    background: #c6f3f4;
}

#task-input{
    width: 75%;
    height: 30px;
}

#detail-text {
    width: 200px;
}

/* search bar */
#task-s{
    border-radius: 10px;
}

.delete-list-button {
    display: flex;
}


.app-dogs {
    display: none;
}

.dog-area-collapse {
    margin-left: 10px;
    width: 100px;
    height: 30px;
}

.app-dogs.active {
    display: block;
}

.new-dog-container {
    display: none;
}

.new-dog-container.active {
    display: inline-flex;
}

.my-dogs {
    display: flex;
}

.my-dogs > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3em;
    margin: 1em;
    padding: 1em;
}

.my-dogs .single-dog {
    font-weight: bold;
}

.single-dog {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 150px;
    background-position: center;
    border-radius: 50%;
    border: 3px solid black;
    box-shadow: 1px 3px 3px rgba(0,0,0,0.4);
    margin-bottom: 30px;
    font-family: 'Quicksand';
    line-height: 1.5em;
    font-size: 1.5rem;
    transition: font-size 0.3s, box-shadow 0.3s;
}

.single-dog:hover {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.4);
    font-size: 2rem;
    transition: font-size 0.3s, box-shadow 0.3s;
    margin-bottom: 30px;
}

.single-dog a {
    color: #ebcc90;
    overflow-x: visible;
    text-shadow: 2px 4px 3px black;
    text-decoration: none;
    text-align: center;
}


.single-dog:not(.inactive) {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.4);
    animation: duration 1s;
    animation-name: lazybounce;
    animation-iteration-count: 1;
}

.single-dog.active {
    box-shadow: 2px 5px 5px rgba(0,0,0,0.4);
    animation: duration 1s;
    animation-name: lazybounce2;
    animation-iteration-count: 1;
}

@keyframes lazybounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
 }

 @keyframes lazybounce2 {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    60% {transform: translateY(-10px);}
 }

.single-dog.active a {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.4);
}

.single-dog.inactive {
    filter: grayscale(100%) blur(1px);
}

.single-task {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    margin: 0.5em;
}

.single-task a {
    text-decoration: none;
}


.task-checkbox {
    z-index: 100;
    opacity: 0%;
    height: 30px;
    width: 30px;
}

.fake-checkbox {
    position: absolute;
    left: 0px;
    z-index: 1;
    pointer-events: none;
    font-size: 2rem;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 1px 1px rgba(0,0,0,0.4);
}

.checkbox-fake-check {
    position: absolute;
    z-index: 1;
    opacity: 0%;
    height: 30px;
    width: 30px;
    pointer-events: none;
}

.fake-checkbox.active {
    background-color: green;
}

.checkbox-fake-check.active {
    opacity: 100%;
    height: 30px;
    width: 30px;
    font-size: 2rem;
}

/* keep this at the end */

.hidden {
    display: none;
}

.task-s {
    display: none;
}
