div.settings-wheel-dropdown-container {
    height: 50px;
    width: 10%;
    position: relative;
    display:inline-block;
    margin-top: 15px;
    margin-left: 30%;
    right: 10px;
    background-color: green;
    z-index: auto;
}

#wheel {
    height: 100px;
    width: 100px;
}

.drop-down-content{
    display: none;
    position: relative;
    background-color: white;
    min-width: 260px;
    z-index: 1;
}

/* the links inside the dropdown */
.drop-down-content a {
    color: black;
    text-align: left;
    display: block;
}

.settings-wheel-dropdown-container:hover .drop-down-content {display: block;}
