.settings-wheel-dropdown-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-bottom: 18px;
}

/* the actual button the gear is on top of*/
#settings-wheel-click {
    position: relative;
    background: none;
    border: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin-right: 10px;
}

/* fontawesome icon */
#gear-drop-down {
    width: 100%;
}

/* div that has all the stuff */
.drop-down-content {
    display: none;
    position: relative;
    background-color: white;
    min-width: 100px;
    float: right;
    right: 0;
    z-index: 3;
}

/* the links inside the dropdown */
.drop-down-content a {
    color: black;
    text-align: left;
    display: block;
}


.settings-wheel-dropdown-container:hover .drop-down-content {
    font-family: sans-serif;
    text-align: center;
    display: block;
    right: 0;
}

#settings-wheel-click:hover {
    cursor: pointer;
}

.drop-down-content a:hover {
    background-color: rgb(209, 216, 243);
}
