#btn-form {
    position: relative;
    margin-top: 8px;
    margin-left: 74%;
    margin-right: 15%;
}

#nav-sign-out {
    background-color: rgb(234, 218, 4);
    color: #71706b;
    border: solid white 2px;
    border-radius: 15%;
    font-size: 15px;
    font-family: sans-serif;
    width: 80px;
    height: 35px;
}

button:hover {
    cursor: pointer;
    display: hidden;
}

#nav-sign-out {
    background-color: #F7BF50;
    color: #413f32;
    border: solid #F7BF50 1px;
    border-radius: 8%;
    font-size: 13px;
    font-weight: bold;
    width: 75px;
    height: 35px;
    margin-bottom: 18px;
}

#nav-sign-out:hover {
    cursor: pointer;
    background-color :#ef7a3b;
    color: white;
}
