#btn-form {
    display: hidden;
    width: 50%;
}

/* sign out button */
#nav-sign-out {
    background-color: #F7BF50;
    color: #413f32;
    border: solid #F7BF50 1px;
    border-radius: 10%;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    width: 75px;
    height: 35px;
    margin-bottom: 18px;
}

#nav-sign-out:hover {
    cursor: pointer;
    background-color: #fe9054;
    color: white;
}
