
.userflow-friends{
    display: flex;
    justify-content: center;
}

.userflow-tagline{
    display: flex;
    justify-content: center;
}

.home-link{
    display: flex;
    justify-content: left;
}

.logo{
    display: flex;
    justify-content: center;
    animation: dropIn 1s;
}

.buttons{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.signup{
    margin-right: 10px
}

.dog1{
    width: 500px;
    height: auto
}

.dog2{
    width: 500px;
    height: auto
}

.dog3{
    width: 500px;
    height: auto
}

h2{
    display: flex;
    justify-content: center;
}

.user-form-field{
    display: flex;
    justify-content: center;
}

@keyframes dropIn {
    from {
        top: 0%;
        transform: translateY(-200%)

    }
    to {
        top: 100%;
        transform: translateY(0%)
    }
}
