body{
    background-color: #f7bf50;
}
.header{

    display: flex;
    justify-content: center;
    padding-top: 250px;

}

.button{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.login{
    padding: 10px;
}

a:hover{
    color: red;
}
