body{
    background-color: #f7bf50;
}
.header{

    display: flex;
    justify-content: center;
    padding-top: 250px;
}
.demo{
    margin-left: 5px;
}

.button{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.login{
    padding: 10px;
}

a:hover{
    color: red;
}

h1,button{
    animation: fadeIn linear 2s;

}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
