body{
    background-color: #f7bf50;
}
.header{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.demo{
    margin-left: 5px;
}

.button{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login{
    padding: 10px;
}

a:hover{
    color: red;
}

.logo{
    display: flex;
    justify-content: center;
    margin-top: 180px;
}

h1,button{
    animation: fadeIn linear 2s;
}



@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.slide{
    display: none;
}

.slide.active{
    display: block;
    width: 500px;
    height: auto;

}
#might-be-slide-show{
    display: flex;
    justify-content: center;
}
